body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
h1{
    font-size: 50px;
}
.orange-color{
    color: gold;
}
.section1{
    display: flex;
    padding: 20px;
    background-image: url(images/images/top-banner.png);
    background-repeat: no-repeat;

}
.half-width{
    width: 50%;
}
.half-width img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    background-color: orange;
    padding: 10px 40px;
    border-radius: 10px;
    
}
.section2{
    display: flex;
    padding: 20px;
    background-image: url(images/images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    margin-top: 100px;
}
.paragraph{
    padding-right: 70px;
    padding-bottom: 50px;
}