body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
h1{
    font-size: 50px;
}
.display-flex{
    display: flex;
    padding: 20px;
}
.orange-color{
    color: gold;
}
.section1{
    /* display: flex;
    padding: 20px; */
    background-image: url(images/images/top-banner.png);
    background-repeat: no-repeat;

}
.half-width{
    width: 50%;
}
.half-width img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    background-color: orange;
    padding: 10px 40px;
    border-radius: 10px;
    
}
.section2{
    /* display: flex;
    padding: 20px; */
    background-image: url(images/images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    margin-top: 100px;
}
.paragraph{
    padding-right: 70px;
    padding-bottom: 50px;
}
.experience-item{
    width: 40%;
    margin-left: 3%;
    margin-right: 3%;
    padding: 30px;
    box-shadow: 10px 10px 40px gray;
    /* border-left: 7px solid blue; */
   
}
.section3{
    background-image: url(images/images/exp-bg.png);
    background-repeat: no-repeat;

}
#full-stak-developer{
    border-left: 7px solid tomato;
    border-radius: 5px;
}
#baby-stak-developer{
    border-left: 7px solid blue;
    border-radius: 5px;
}

footer p{
    text-align: center;
}